body{
  background-color: rgb(153, 245, 214);
}

h1{color: rgb(228, 210, 9);}
.a{
  color: rgb(216, 200, 27);
  font: size bold;
}
.b{
  color:rgb(231, 216, 43);
}
.c{
  color: rgb(24, 24, 27);
  font-size: 100px;
  font-weight: bold;
} 
